.hg-theme-default {
  background-color: transparent;
}
.hg-button {
  background-color: silver !important;
  border-radius: 0px !important;
  border-bottom: none !important;
  height: 50px !important;
  border-radius: 6px !important;
  font-weight: bold;
  cursor: pointer;
}
.hg-button:active {
  transform: translateY(-4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-out;
}