.hg-theme-default {
  background-color: transparent;
}
.hg-button {
  background-color: silver !important;
  border-radius: 0px !important;
  border-bottom: none !important;
  height: 50px !important;
  border-radius: 6px !important;
  font-weight: bold;
  cursor: pointer;
}