@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Title';
   src: url('/font/Title.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Text';
   src: url('/font/Text.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

.win-text {
   @apply text-green-500;
   -webkit-text-stroke: 2px gray;
}
.lose-text {
   @apply text-red-500;
   -webkit-text-stroke: 2px gray;
}

.outlined-text {
   color: #ef4444;
   -webkit-text-stroke: 2px white;
 }
 .outlined-text-reverse {
   color: white;
   -webkit-text-stroke: 2px #ef4444;
 }